<%= form_with(url: { action: "issue_voices", id: brew_batch.id }, method: :patch) do |form| %>
  <div class="form-group">
    <%= form.label :issue_voices_amount %>
    <%= form.number_field :issue_voices_amount, class: 'form-control' %>
  </div>

  <div class="actions">
    <%= form.submit 'Issue voices', class: 'btn btn-primary' %>
  </div>
<% end %>
